<h1> Welcome to iTravel!</h1>
<h4> Please login or create a new account below. </h4>

<%### login OR create new account #### %>
<a href="/login">Account Login</a>
<a href="/signup">Create Account</a>